.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.image {
  width: 1100px;
  height: 415px;
  position: relative;
  border-radius: 10px;
  @media only screen and (max-width: 376px){
    width: 335px;
    height: 255px;
}
}

.number-slide{
  position: absolute;
  left: 50%;
  bottom: 10%;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.right-arrow {
  position: absolute;
  top: 45%;
  right: 35px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;
  @media only screen and (max-width: 376px){
    transform: scale(0.3);
    top: 30%;
    right: -20px;
}
}

.left-arrow {
  position: absolute;
  top: 45%;
  left: 35px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: none;

  @media only screen and (max-width: 376px){
    transform: scale(0.3);
    top: 30%;
    left: -20px;
}
}


.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}