.about {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title-background{
        width: 95%;
        height: 223px;
        margin: 0 auto;
        margin-bottom: 2em;
        border-radius: 50px;

        background: url("../../assets/img/title-background.png") center;
        box-shadow: inset 100px 100px 100px 100px rgba(0, 0, 0, 0.53);

        @media only screen and (max-width: 376px){
            width: 336px;
            height: 223px;
        }
    }

    .dropdown-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        font-weight: lighter;
        margin: 0 auto;
        width: 80%;

    }
}