.error{
    height: 100%;
    .error-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #FF6060;
        h1 {
            font-size: 10rem;
            font-weight: bold;
        }
    
        p{
            margin-bottom: 5em;
        }
    }

}